$blackColor: #0D0D0D;
$whiteColor: #F2F2F2;
$yellowColor: #F2CC0F;
$greenColor: #8CBF3F;
$purpleColor: #9453A6;
$pastelColor: rgb(235, 141, 235);

@font-face {
    font-family: Pattaya;
    src: url(../VS_MardiGras_Project/Fonts/Pattaya-Regular.ttf);
}

@font-face {
    font-family: HennyPenny;
    src: url(../VS_MardiGras_Project/Fonts/HennyPenny-Regular.ttf);
}

@font-face {
    font-family: RobotoBlack;
    src: url(../VS_MardiGras_Project/Fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(../VS_MardiGras_Project/Fonts/Roboto-Bold.ttf);
}